# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Temporary and log files
*.log
*.tmp

# Jupyter files
.ipynb_checkpoints/